body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    font-weight: 1000px;
}

button {
    width: 40px;
    height: 40px;
    margin: 2px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    background-color: #212830;
    color: rgb(255, 255, 255);
    border: 0px solid rgb(79, 156, 133);
}

.op {
    color: #e94a4f;
}

.number {
    color: #ffffff;
}

.calculator {
    width: 180px;

    padding: 2px;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    
    background-color: #3f4653;
}

.container {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    align-items: center;
}

.screen {
    width: 180px;

    margin: 2px;
    font-size: 16px;
    color: white;
    background-color: #67717c;
}