body {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    font-weight: 1000px;
}

button {
    width: 40px;
    height: 40px;
    margin: 2px;

    background-color: rgb(59, 161, 139);
    color: rgb(255, 255, 255);
    border: 0px solid rgb(79, 156, 133);
}

.calculator {
    width: 180px;

    padding: 2px;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    
    background-color: rgb(65, 109, 98);
}

.container {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    align-items: center;
}

.screen {
    width: 180px;

    margin: 2px;
    font-size: 32px;
    color: white;
    background-color: rgb(100, 146, 140);
}